extends layout

block content
    div(class='col-sm-10')
        h1= title

        if error
            p Error getting dynamic content.
        else
            p The library has the following record counts:

            ul
                li #[strong Brand:] !{data.brand_count}
                li #[strong Models:] !{data.model_count}
                li #[strong Features:] !{data.feature_count}