div(class='bg-light border-right' id='sidebar-wrapper')
    div(class='list-group list-group-flush')
        a(href='/catalog' class='list-group-item list-group-item-action bg-light') Home
        a(href='/catalog/brands' class='list-group-item list-group-item-action bg-light') All brands
        a(href='/catalog/models' class='list-group-item list-group-item-action bg-light') All models
        a(href='/catalog/features' class='list-group-item list-group-item-action bg-light') All features
        div(class='border-top my-3')
        a(href='/catalog/brand/create' class='list-group-item list-group-item-action bg-light') Create New brand
        a(href='/catalog/model/create' class='list-group-item list-group-item-action bg-light') Create New model
        a(href='/catalog/feature/create' class='list-group-item list-group-item-action bg-light') Create New feature