extends ../layout

block content
    h1 #{title}

    if errors
        ul
            for error in errors
                li!= error.msg

    form(method='POST' action='')
        div.form-group
            label(for='name') Name:
            input#name.form-control(type='text' required=true placeholder='name of feature' name='name' value=(undefined===feature ? '' : feature.name))
        div.form-group
            label(for='description') Description:
            textarea#description.form-control(placeholder='Description' name='description') #{(undefined === feature ? '' : feature.description)}
        button.btn.btn-primary(type='submit') Submit