extends ../layout

block content
    h1 #{title}

    div(class='d-flex justify-content-between align-items-center')
        div(class='btn-group')
            a(href=feature.url + '/update' type='button' class='btn btn-lg btn-secondary') Update feature
            a(href=feature.url + '/delete' type='button' class='btn btn-lg btn-danger') Delete feature

    hr
    p #[strong Description:] #{feature.description}